<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REACTJS ES6</title>
    <script crossorigin src="lib/react.js"></script>
    <script crossorigin src="lib/react-dom.js"></script>
    <<script src="lib/browser.min.js"></script>
  </head>
  <body>
    <h1>ES6 WITH REACTJS </h1>
    <div id="root"></div>
    <script type = "text/babel" src="demo2.js"/>

  </body>
</html>
